{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="col s12">
            <div class="row"><h2 class="blue-text center-align">My Channels</h2></div>
            <div class="row">
                {% if acc_channels%}
                    {% for channel in acc_channels %}
                        <a href="{% url "channel" channel.name %}">
                    <div class="col s4">
                        <div class="card medium">
                        <div class="card-image">
                            <img src="{% static "user_data/channel_avatar/" %}{{ channel.avatar }}">
                        </div>
                        <div class="card-content black-text">
                            <span class="card-title truncate black-text">{{ channel.name }}</span>
                            <p class="black-text">Subscribers: {{ channel.subscribers }}</p>
                            <p class="black-text">Videos: {{ channel.videos }}</p>
                            <div class="row center-align" style="padding-top: 10px">

                            <div class="col s4">
                                <a style="width: 80%" class="btn blue" href="{% url "stream_create" channel.name %}">Create Stream</a>
                            </div>
                            <div class="col s4">
                                <a style="width: 80%" class="btn blue" href="{% url "create_video" channel.name %}">Upload Video</a>
                            </div>
                                <div class="col s4">
                                <a style="width: 80%" class="btn red white-text" href="{% url 'delete_channel' channel.name %}">DELETE</a>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <a>There is no channels on this account</a>
                {% endif %}
            <div class="row">
                <div class="col s4">
                    <a href="{% url 'create_channel' %}">
                    <div class="card small">
                        <div class="card-image">
                            <img src="{% static "other/new_image.png" %}">

                        </div>
                        <div class="card-content">
                            <span class="card-title black-text">Create new channel</span>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            </div>
            </div>
    </div>
{% endblock %}