{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col s12" style="padding-top: 10px">
            <img class="responsive-img" src="{% static "user_data/channel_avatar/" %}{{ channel.avatar }}"
                 style="height: 400px; width: 100%; object-fit: scale-down; vertical-align: top">
        </div>
    </div>
    <div class="row black-text">
        <div class="col s8">
            <div class="row valign-wrapper blue lighten-2 z-depth-2 off">
                <div class = "col s2">
                    <img class="responsive-img circle"
                         src="{% static "user_data/channel_avatar/" %}{{ channel.avatar }}">
                </div>
                <div class = "col s9">
                    <div class="row no-pad" >
                        <h5>{{ channel.name }}</h5>
                    </div>
                    <div class="row no-pad-top">
                        <a class="text black-text">Subscribers: {{ channel.subscribers }}</a>
                    </div>
                    <div class="row no-pad-top">
                        <a class="text black-text">Videos: {{ channel.videos }}</a>
                    </div>
                </div>
                <div class="col s3 center-align">
                    <div class="row">
                    {% if channel.owner != account.username %}
                        {% if not if_subscribed %}
                            <a class="btn blue darken-2" href="{% url "subscribe" channel.name %}">Subscribe</a>
                        {% else %}
                            <a class="btn blue lighten" href="{% url "unsubscribe" channel.name %}" >
                            Unsubscribe
                            </a>
                        {% endif %}
                    {% else %}
                            <a class="btn red" href="{% url "delete_channel" channel.name %}">DELETE</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="card-panel">
                <div class="row no-pad-top">
                        <p class="text black-text"><b>Description:</b> </p>
                        <p>     {{ channel.description }}</p></p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
            <div class="row"><h2 class="blue-text center-align">Videos</h2></div>
            <div class="row">
                {% if videos %}
                    {% for video in videos %}
                    <div class="col s4">
                    <a href="{% url "video" video.id %}" class="black-text">
                        <div class="card small">
                        <div class="card-image">
                            <img src="{{ video.thumbnail }}">
                            <p>{{ video.thumbnail }}</p>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">{{ video.name }}</span>
                            <p>Views: {{ video.views }}</p>
                            <a href="{% url "channel" video.channel %}">{{ video.channel }}</a>
                        </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                {% if account.username == channel.owner %}
                    <div class="col s4">
                    <a href="{% url 'create_video' channel.name %}">
                    <div class="card small">
                        <div class="card-image">
                            <img src="{% static "other/new_image.png" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text">Upload New Video</span>
                        </div>
                    </div>
                    </a>
                </div>
                {% endif %}
                {% else %}
                    {% if account.username == channel.owner %}
                    <div class="col s4">
                    <a href="{% url 'create_video' channel.name %}">
                    <div class="card small">
                        <div class="card-image">
                            <img src="{% static "other/new_image.png" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text">Upload New Video</span>
                        </div>
                    </div>
                    </a>
                     </div>
                    {% else %}
                    <a>There is no videos on this channel</a>
                    {% endif %}
                {% endif %}
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
            <div class="row"><h2 class="blue-text center-align">Streams</h2></div>
            <div class="row">
                {% if streams %}
                    {% for stream in streams %}
                    <div class="col s4">
                    <a href="{% url "stream" stream.id %}" class="black-text">
                        <div class="card small">
                        <div class="card-image">
                            <img src="{{ stream.thumbnail }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text truncate">{{ stream.name }}</span>
                            <p>Views: {{ stream.views }}</p>
                            <a href="{% url "channel" stream.channel %}">{{ stream.channel }}</a>
                        </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                {% if account.username == channel.owner %}
                    <div class="col s4">
                    <a href="{% url 'create_video' channel.name %}">
                    <div class="card small">
                        <div class="card-image">
                            <img src="{% static "other/new_image.png" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text">Upload New Video</span>
                        </div>
                    </div>
                    </a>
                </div>
                {% endif %}
                {% else %}
                    {% if account.username == channel.owner %}
                    <div class="col s4">
                    <a href="{% url 'stream_create' channel.name %}">
                    <div class="card small">
                        <div class="card-image">
                            <img src="{% static "other/new_image.png" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text">Create New Stream</span>
                        </div>
                    </div>
                    </a>
                     </div>
                    {% else %}
                    <a>There is no videos on this channel</a>
                    {% endif %}
                {% endif %}
            </div>
            </div>
        </div>
        </div>
        <div class="col s4" style="padding-left: 50px">
        <div class="row">
            <h5>All Account Channels</h5>
        </div>
            {% for channel in channels %}
                <a href="{% url "channel" channel.name %}">
                <div class="row">
                    <div class = "col s2">
                        <img class="responsive-img circle"
                             src="{% static "user_data/channel_avatar/" %}{{ channel.avatar }}">
                    </div>
                    <div class = "col s10">
                        <div class="row no-pad" >
                            <span class="black-text">{{ channel.name }}</span>
                        </div>
                    </div>
                </div></a>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
{% endblock %}