{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="col 12 center-align">
    <div class="row" id="avatar">
        <h3 class="center-align light-blue-text">Create video on channel
            </h3>
        <h3>
            <img class="circle"  style="height: inherit; width: 100px; vertical-align: middle"
                 src="{% static '/user_data/channel_avatar/'%}{{ channel.avatar }}">
            {{ channel.name }}
        </h3>
        <h5>Choose the way</h5>
    </div>

    </div>
        <div class="col s12">
        <ul class="tabs center-align" id="tabs">
            <li class="tab col s6"><a href="#direct">Create Direct</a></li>
            <li class="tab col s6"><a href="#youtube">Create with YouTube</a></li>
            </ul></div>
        <div id="direct">
            <div class="row col s12 center-align">
            <h5>Direct</h5>
        </div>
    <div id="login-page" class="row" style="width: 500px">
    <form class="col s12" action="{% url "stream_safe" "direct" channel.name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" name="name" required="" aria-required="true">
          <label for="name">Name Your Stream</label>
        </div>
      </div>
  <div class="row">
    <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea" name="description"></textarea>
          <label for="description">Description</label>
        </div>
  </div>
    <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12 light-blue" type="submit">
                Create Stream
            </button>
          </div>
        </div>
    </form>
  </div>
       </div>
    <div id = "youtube">
    <div id="login-page" class="row" style="width: 500px">
    <form class="col s12" action="{% url "stream_safe" "youtube" channel.name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row center-align">
            <h5>Youtube</h5>
        </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" name="name" required="" aria-required="true">
          <label for="name">Name Your Stream</label>
        </div>
      </div>
        <div class="row">
            {% if wrong_url %}
            <div class="row">
                <p class="red">You have a mistake in the link. Try again</p>
            </div>
            {% endif %}
    <div class="input-field col s12">

          <input id="name" type="text" class="link" name="link" required="" aria-required="true">
          <label for="name">Link to Youtube Stream</label>
        </div></div>
  <div class="row">
    <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea" name="description"></textarea>
          <label for="description">Description</label>
        </div>
  </div>
    <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12 light-blue" type="submit">
                Create Youtube Stream
            </button>
          </div>
        </div>
    </form>
  </div>
       </div>

  </div></div>

{% endblock %}