{% extends 'base.html' %}
{% block content %}
    <div class="container center-align">
    <h3 class="blue-text">Welcome to MyPipe</h3>
    <div class="section">
        <h5>Most Popular Videos</h5>
        <div class="row">
            {% for video in videos %}
                    <div class="col s4 left-align">
                    <a href="{% url "video" video.id %}">
                        <div class="card small">
                        <div class="card-image">
                            <img src="{{ video.thumbnail }}">
                            <p>{{ video.thumbnail }}</p>
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text truncate">{{ video.name }}</span>
                            <p class="black-text">Views: {{ video.views }}</p>
                            <a href="{% url "channel" video.channel %}">{{ video.channel }}</a>
                        </div>
                        </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>

    <div class="section">
        <h5>Most Viewed Streams</h5>
        <div class="row">
            {% for stream in streams %}
                    <div class="col s4 left-align">
                    <a href="{% url "stream" stream.id %}">
                        <div class="card medium">
                        <div class="card-image">
                            <img src="{{ stream.thumbnail }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text truncate">{{ stream.name }}</span>
                            {% if stream.running %}
                                <p class="red-text">LIVE</p>
                            {% endif %}
                            <p class="black-text">Viewers: {{ stream.views }}</p>
                            <a href="{% url "channel" stream.channel %}">{{ stream.channel }}</a>
                        </div>
                        </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
{# https://mmcc-next-streamr.glitch.me/ #}